<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/Segundo" method="POST">
    <center>
        <hr>
        <label>
            <h2>INGRESAR LA PALABRA</h2>
            <input class="btn btn-primary btn-lg" type="text" name="consulta" value="{{request.form.palabraBuscar}}"/>
        </label>

        <br><br>
         <button type="submit"> Buscar </button>
    </center>
    <br>
</form>
<h1>{{ mensa }}</h1>

</body>
</html>