<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



</head>

<body style="background: #808080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
<center>
         <p SIZE=5 style = "font-family:Brush Script MT;">
        <font size="10">
Analisis de sentimientos con el metodo de textblob
            </font>
</p>

    </center>


  <table class="table" id="tablaTweets" border="0">
        <thead class="thead_dark">
            <tr>
                <th scope="col">TEXTO DE TWEETS</th>
                <th scope="col">VALOR DE PORALIDAD</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(numTweets) %}
            <tr>
                <td>{{ listaTexto[i] }}</td>
                <td>{{ listaValor[i] }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <table class="table" id="valortotal">
        <thead class="thead_dark">
            <tr>

                <th scope="col">%POSITIVO</th>
                <th scope="col">%NEGATIVO</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>{{ valorPositivo }}</td>
                <td>{{ valorNegativo }}</td>
            </tr>
        </tbody>
    </table>




    <script type="text/javascript">

        var rows = document.getElementById('tablaTweets').rows;
        //console.log(rows);

        //console.log(rows);
        var i;
        var j;
        var g;
        var valtweetstexto = [];
        var valpolaridad = [];

        for (i = 0; i < rows.length; i++) {
            for (j = 0; j < rows[i].cells.length; j++) {
                if (j == 0) {
                    valtweetstexto.push(rows[i].cells[j].innerHTML);
                } else {
                    valpolaridad.push(rows[i].cells[j].innerHTML);
                }
            }
        }
        //console.log("textos");
        console.log(valtweetstexto);
        //console.log("valores");
        //console.log(valpolaridad);


        var valDataGrafica = [];
        for (g = 0; g < valpolaridad.length; g++) {
            var dato = [];
            if(g===0){
            dato.push("No. de tweets");
            dato.push(valpolaridad[g]);
            }else{
            dato.push(g);
            dato.push(parseFloat(valpolaridad[g]));
            }


            console.log(dato);
            valDataGrafica.push(dato);
        }
        console.log("GRAFICA");
        console.log(valDataGrafica);

        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable(valDataGrafica);

            var options = {
                title: 'Gráfica de tweets',
                hAxis: {
                    title: 'No. de tweets',
                    minValue: 0,
                    maxValue: {{ numTweets }},
                    legend: 'none',textPosition:'in'
                },
                vAxis: {
                    title: 'Polaridad',
                    minValue: -1,
                    maxValue: 1
                },
                legend: 'start'
            };

            var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>


<center>

             <p SIZE=5 style = "font-family:Brush Script MT;">
        <font size="10">
Estadísticas de los tweets descargados
            Gráfica
            </font>
</p>
                 <p SIZE=5 style = "font-family:Brush Script MT;">
        <font size="10">
            Gráfica
            </font>
</p>

    <hr>
    <h3></h3>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <!--<input class="btn btn-primary btn-lg" type="text" name="palabra" value="{{request.form.palabraBuscar}}"/>/!-->
    <br>
    <a class="btn btn-primary btn-lg" href="http://localhost:5000">Nueva Busqueda</a>
</center>
</body>

</html>